body {
    min-height: 2500px;
    min-width: 2500px;
    overflow: auto;
    background: snow;
  }
  
  p {
    font-size:25px;
    text-align: right;
    z-index: 4;
  }
  img {
	position: absolute;
    z-index: 1;
}
div {
    color: snow;
    margin-top: 20px;
    background-color: olive;
    font-family: cursive;
    padding: 10px;  
    width: 150px;
    border-style: dotted;
}
.endoftext{
font-weight: bold;
  font-size:25px;
  position: relative;
  left:1500px;
  bottom:20;
  z-index:2;
  color:snow;
}
.bottomright{
font-weight: bold;
  font-size:30px;
  position: relative;
  left:2300px;
  bottom:10px;
  z-index:0;
  color:snow;
}
span {
    color: black;
    font-size: 20px;
    font-family: cursive;
    text-transform: uppercase;
    text-decoration-style: wavy;
  letter-spacing: 1px;
  line-height: 11px;
  }
  #myHeader {
    background-color: rgb(29, 63, 51);
    opacity: .7;
    color: snow;
    padding: 40px;
    text-align: center;
  }
.opaque{
    opacity:.5;
    z-index:0;
}